.comment{
    font-family: var(--fontNew1);
    font-size: 15px;
}
.reviewContainer {
    padding: 1vh 1vh;
    border-bottom: 1px solid;
    transition: border-color 0.3s; /* Add transition for smoother hover effect */
}

/* .reviewContainer:hover {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-top: calc(2vh - 1px);
    padding-bottom: calc(2vh - 1px); 
} */
.comment p{
    margin: 0;
    
}

.userInfo{
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    font-family: var(--fontNew1);
}
.ReviewUserPic{
    width: 100%;
    height: 120%;
}
.ReviewUserPicCntnr{
    width: 8vh;
    height: 10vh;
    overflow: hidden;
}
.userInfo svg{
    background-color: var(--grayShade);
    height: 6vh;
    width: 6vh;
    border-radius: 100%;
    color: white;
    font-family: var(--fontNew1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.userInfo h3{
    margin: 1vh 2vh;
}
.userInfo p{
    margin: 1vh 2vh;
}
@media screen and (max-width: 550px) {

    .comment p{
       font-size: small;
    }
      
     }