.userdashCard{
    background-color: var(--primary);   
    border-color: rgb(209, 209, 209);
    box-shadow: 2px 2px 4px var(--grayShade);
    border-radius: 10px;
    height: 100%;
    width: 30%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 600;
    color: rgb(31, 81, 19);

}
