.BussinessDashIconsCard{
    height: 15vh;
    width: 12vh;

    /* border: 1px solid black; */
}
.BusinessDashIconCont{
    height: 76%;
    width: 95%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    position: relative;
    overflow: hidden;

}
.BusinessDashIconCont:hover{
    cursor: pointer;
}
.BussinessDashIconsDesc{
    width: fit-content;
    margin: auto;
    margin-top: 1vh;
    
}
.bussinessIconMemTag{
    position: absolute;
    background-color: rebeccapurple;
    color: white;
    transform: rotate(-35deg);
    top: 0;
    width: 12vh;
    text-align: center;
    font-size: small;
    left: -2.5vh;
}