.BannerCard{
    /* border: 2px solid black; */
    width: 24vh;
    height: 32vh;
    border-radius: 10px;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    padding: 2vh;
}
.BannerCardBut{
    position: absolute;
    right: 0;
    bottom: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vh;
    background-color: var(--tertiary);
    border: none;
    box-shadow: -2px 0px 2px gray;
    height: 3.3vh;
}
.BannerCard:hover{
    cursor: pointer;

}
.BannerCard:hover .BannerCardBut{
    width: 60%;
    background-color: white;
    transition: 0.3s ease;
    justify-content: flex-start;

}
.BannerCard:hover .BannerCardIcon{
    color: white;
}
.BannerCard:hover .BannerCardBut::after {
    content: "Explore";
    color: white;
    font-family: var(--fontMain);
    font-weight: 600;
    margin-left: 0.5em; 
}

.BannerCardIcon{
    color: white;
    font-size: large;
}
.BannerCardIMg{
    height: 83%;
    /* width: 73%; */
    position: absolute;
    bottom: 0;
    left: 0vh;
    z-index: 0;
}
.BannerCardTitle{
    position: relative;
    margin: 0;
    margin-left: auto;
    min-width: 70%;
    color: var(--primary);
    font-family: var(--fontNew1);
    font-size: 2.5vh;
    font-weight: 600;
    margin-bottom: 0;
    text-align: right;
    padding-left: 2vh;
    z-index: 2;
}
@media screen and (max-width: 769px) {
    .BannerCard{
        min-width: 23vh;
        height: 30vh;

    }
  }
@media screen and (max-width: 769px) {
    .BannerCard {
        min-width: 21vh;
        height: 28vh;
    }
    .BannerCardBut {
        font-size: 10px;
    }
  }
