.BannerCard{
    /* border: 2px solid black; */
    width: 14%;
    height: 32vh;
    border-radius: 10px;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    background-color: var(--tertiary);
}
.BannerCardBut{
    position: absolute;
    right: 0;
    bottom: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vh;
    background-color: var(--tertiary);
    border: none;
    box-shadow: -2px 0px 2px gray;
    height: 3.3vh;
}
.BannerCard:hover{
    cursor: pointer;

}
.BannerCard:hover .BannerCardBut{
    width: 60%;
    background-color: white;
    transition: 0.3s ease;
    justify-content: flex-start;

}
.BannerCard:hover .BannerCardIcon{
    color: var(--tertiary);
}
.BannerCard:hover .BannerCardBut::after {
    content: "Explore";
    color: var(--tertiary);
    font-family: var(--fontMain);
    font-weight: 600;
    margin-left: 0.5em; 
}

.BannerCardIcon{
    color: white;
    font-size: large;
}
.BannerCardIMg{
    height: 83%;
    width: 73%;
    position: absolute;
    left: 0;
}
.BannerCardTitle{

    margin-right: 2vh;
    color: var(--primary);
    font-family: var(--fontMain);
    font-size: 3vh;
    margin-top: 2vh;
    margin-bottom: 0;
    text-align: right;
}