.UserListpage{
    padding-left:20vh ;
    padding-right:20vh ;
    position: relative;
}
.userlistCont{
    position: relative;
}
.userListTableHead{
    background-color: white;
    position: sticky;
    top: 17vh;
}
.AllUserListHead{
    font-family: var(--fontsecondary);
    font-weight: 500;
    color: var(--tertiary);
    text-decoration: underline;
}
.userListTableHead{
    display: flex;
    justify-content: space-between;
}
.userListTableHead p{
    font-size: larger;
    color: var(--indiaGreen);
    width: 25%;
    text-align: center;
}
.AllUserListHeadCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AlluserListSearchBar{
    height: 4vh;
}
.searchIcon{
    font-size: xx-large;
}
.searchIcon:hover
{
    cursor: pointer;
}
.searchByEmailCont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filteSearchIcon{
    position: absolute;
    left: 0vh;
    top: 8vh;
    background-color: var(--tertiary);
    padding: 1vh;
    color: var(--primary);
    border-radius: 2px;
    font-size: xx-large;
}
.filteSearchIcon:hover{
    cursor: pointer;
}