.GlobalSendQueryForm{
    border: 1px solid red;
    height: 30vh;
    width: 0;
    padding: 1vh;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 35%;
    margin: 1vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 3vh;
    background-color: var(--primary);
    transition: 0.3s ease;
    margin-right: -8vh;
    caret-color: black;
    font-family: var(--fontNew1);
}
.getbstDealbtn{
    background-color: var(--tertiary);
    color: var(--primary);
    height: 5vh;
    width: 90%;
    font-size: large;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.GlobalSendQueryForm input{
    height: 4vh;
    width: 90%;
    padding: 0 1vh;
}
.GetBestdealHead{
    margin: 0%;
    margin-top: 1vh;
    font-size: x-large;
}
.GetBestdealHead span{
    color: var(--tertiary);
}
.GetBestDealsTag{
    position: absolute;
    /* border: 2px solid black; */
    background-color: var(--tertiary);
    color: white;
    padding: 1vh 2vh;
    min-width: fit-content;
    /* height: 4vh;
    width: 15vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    left: -22vh;
}
.GetBestDealsTag:hover{
    cursor: pointer;

}
.showGlobalform{
    margin-right: 1vh;
    width: fit-content;
}
.HideGlobalFormbtn{
    position: absolute;
    background-color: var(--tertiary);
    color: white;
    height: 4vh;
    width: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -4vh;
}
.HideGlobalFormbtn:hover{
    cursor: pointer;
}