.btn-md{
    height: 4.7vh;
    width: 20vh;
    font-size: small;
    background-color: var(--tertiary) ;
    border: none;
    font-family: var(--fontsecondary);
    font-weight: 600;
}
.btn-md2{
    font-weight: 600;
    font-family: var(--fontsecondary);
    height: 4.7vh;
    width: 20vh;
    font-size: small;
    background-color: var(--primary);
    color: var(--tertiary);
    border: 1px solid var(--tertiary);
}
.businessCardbtnCont{
    display: flex;
    gap: 3vh;
}

.BusinessCardCont{
    min-height: 20vh;
    margin: 1vh;
    margin-bottom: 0;
    display: flex;
    gap: 3vh;
    border-bottom: 1px solid var(--grayShade) ;
    padding-bottom: 1vh;
}
.BusinessCardHead{
    margin: 0;
    margin-top: 1vh;
    
}
.BusinessCardRight p{
    margin: 0;
}
.businessCardLeft{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.businessCardLeft img{
    height: 90%;
    width: 90%;
    border-radius: 20px     ;
}
.businessCardLocation{
    font-family: var(--fontsecondary);
    margin: 0;
    margin-bottom: 3vh;
}
.BusinessCardRight{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-family: var(--fontNew1);
}
@media screen and (max-width: 770px) {
    .businessCardLeft {
        width: 20%;
    }
}
@media screen and (max-width: 551px) {
    .businessCardbtnCont{
        gap: 1vh;
    }
    .btn-md,.btn-md2{
        width: 14vh;
        font-size: 12px;
        font-weight: 500;
    }
    .businessCardLeft{
        width: 24%;
    }
    
}
@media screen and (max-width: 427px) {
    .BusinessCardRight {
        gap:1vh;
    }
    .BusinessCardHead{
        font-size: larger;
        font-weight: 500;
    }
    .btn-md,.btn-md2{
        width: 12vh;
    }
    .businessCardLeft{
        width: 31%;
    }
    .businessCardLocation{
        font-size: small;
        font-weight: 300;
        margin-bottom: 2vh;
    }
}
@media screen and (max-width: 377px) {
    .businessCardLeft{
        display: none;
    }
    .BusinessCardRight{
        width:100%;
    }
}