h1{
    font-family: var(--fontNew2);
}
.BusinessDetailsEditPage{
    /* border: 1px solid black; */
    height: 86vh;
    padding: 0 29vh 0 29vh;
}
.businessDetailsEditForm{
    border: 1px solid gray;
    border-bottom: none;
    /* height: 10vh; */
    height: 100%;
    padding: 4vh 3vh 4vh 3vh;
    box-sizing: border-box;
}
.BusinessEditHeading{
    color: var(--tertiary);
    font-family: var(--fontMain);
    font-weight: 500;
    margin: auto;
    text-align: center;
    margin-bottom: 4vh;
    text-shadow: 2px 2px 1px var(--indiaGreen);
}

@media screen and (max-width: 1091px) {
    .BusinessDetailsEditPage {
        border: 1px solid black;
        height: 86vh;
        padding: 0 2vh 0 2vh;
    }
   
    
}
@media screen and (max-width: 518px) {
    .btn-lg{
     height: 7vh;   
    width: 20vh;
    }

}
@media screen and (max-width: 481px) {
    .btn-lg{
     height: 5vh;   
    width: 15vh;
    font-size: large;
    }
    .BusinessNameEditFormDesc p{
        display:  none;
    }

}
