.mainDiv{
    /* margin: 0% 10% 0%;  */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 5%;
    background-image: url("../../../assets/reportBug.jpg");
    background-size: cover;
    /* background-position: center; */
    /* width: 100%; */
    height: 100%;
}
.messageField{
    height: 20vh;
    width: 80vh;
    margin: 3% 0%;
    opacity: 97%;
    padding: 1%;
    cursor: text;
}
.submitButton{
    /* height: 10vh; */
    background-color: blue;
    padding: 1% 2%;
    border-radius: 10px;
    font-size: 20PX;
}