.mainCatCard{
    margin-top: 2vh;
    height: 21vh;
    width: 22vh;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
.MainCatCardDesc{
    margin: 0;
    text-align: center;
    margin-top: 1.3vh;
    font-size: large;
    font-family: var(--fontMain);
    width: fit-content;
    margin: auto;
    margin-top: 0.5vh;
}
.mainCatCardImg{
    height: 80%;
    width: 100%;
    border-radius: 20px;
}
@media screen and (max-width: 1502px) {
    .mainCatCard{
        height: 19vh;
        width: 19vh;
    }
  }
@media screen and (max-width: 1250px) {
    .mainCatCard{
        height: 15vh;
        width: 15vh;
    }
    .MainCatCardDesc{
        font-size: small;
    }
  }
  
@media screen and (max-width: 1027px) {
    .mainCatCard{

        height: 21vh;
        width: 21vh;
    }
  }
@media screen and (max-width: 376px) {
    .MainCatCardDesc {
        font-size: 10px;
    }
    .mainCatCardImg {
        height: 70%;
        width: 98%;

    }
    .mainCatCard {
        height: 18vh;
        width: 15vh;
    }
  }
