.BussinessListCardContainer{
    padding: 2vh;
    display: flex;
    margin: 2vh 0;
    border: 1px solid var(--grayShade);
    border-radius: 4px;
    cursor: pointer;
}
.BussinessListCardLeft{
    display: flex;
    align-items: center;
}
.carousel-root{
}
.thumbs-wrapper{
    display: none;
}
.BussinessListCardLeft img{
    height: 20vh;
}

.BussinessListCardRight{
    padding: 0 2vh;
    font-family: var(--fontMain);
}

.address{
    font-family: var(--fontsecondary);
}

.BussinessListCardRight svg{
    margin-right: 4px;
}
.BussinessListCardRight h2{
    margin: 2vh 0;
    display: flex;
    align-items: center;
}
.BussinessListCardRight h2{
    font-family: var(--fontMain);
    font-weight: 500;
}

.squareBtn{
    display: flex;
    align-items: center;
    padding: 1vh 2vh;
    border-radius: 4px;
    font-weight: 400;
    transition: 0.3s ease;
}
.squareBtn:hover{
    transform: translateY(-5px);
}
@media screen and (max-width: 551px) {
    .BussinessListCardContainer {
        flex-direction: column;
        /* border: 1px solid black; */
        width: 90%;
        margin: auto;
        margin-bottom: 2vh;
    }
}
@media screen and (max-width: 428px) {
    .ListPageHeading{
        font-size: 4vh;
    }
    .BussinessListCardRight h2 {
        margin-bottom: 1vh;
        font-size: large;
    }
    .RatingPoint {
        padding: 2px 3px;
        font-size: small;
    }
    .RatingStars{
        font-size: small;
    }
    .address {
        margin-top: 1vh;
        font-size: small;
    }
}