.green-col{
  color: #046A38 ;
}
.glow {
  color: var(--tertiary);
}
.icon-md {
  font-size: 3.5vh;
}
.location {
  display: flex;
  gap: 1vh;
  width: fit-content;
  /* position: relative; */
}
.location-suggest {
  padding-top: 1vh;
  width: 150%;
  background-color: var(--primary);

  max-height: 50vh;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 10px;
  overflow-y: auto;
}
.location-suggest p {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 2vh;
  height: 5vh;
  border-bottom: 1px solid var(--grayShade);
}
.location-suggest p:hover {
  background-color: var(--whiteShade);
}
.nav-inp {
  height: 3.5vh;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding-left: 1vh;
  min-width: 12vh;
}
.locationAndSearch {

  display: flex;
  gap: 2vh;
  align-items: center;

  width: fit-content;
}
.loginbtn {
  font-size: 14px;
  height: 4vh;
  width: 8vh;
}

.navbar {
  height: 13vh;
  background-color: var(--primary);
  position: sticky;
  top: 0;
  padding-left: 18vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  border-bottom: 1px solid var(--secondary);
}

.navbarBrand{
  font-family: var(--fontsecondary);
  font-size: xx-large;
  font-weight: 500;
}
.navItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  font-size: 2.4vh;
  font-weight: 100;
  font-family: var(--fontsecondary);
  color: var(--secondary);
}
.navItems p {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid var(--primary);
}
.navItems p:hover {
  cursor: pointer;
  border-bottom-color: var(--secondary);
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}


.yellowtext {
  color: var(--tertiary);
  text-shadow: 1px 1px 1px var(--secondary);
}
@media screen and (max-width: 1249px) {
  .navbar {
    padding-left: 0;
  }
}
@media screen and (max-width: 1090px) {
  .locationAndSearch {
    flex-direction: column;
}
}
