.bulb{
  position: absolute;
  top: 0px;
  right: 0;
  font-size: 9vh;
  transform: rotate(180deg);
  color: gray;
  margin-right: 20px;
}
.bulbrope{
  position: absolute;
  left: 10;
  height: 30vh;
  background-size: cover;
  right: 9vh;
  top:0px;
 width: 10vh;


}
.bulbrope:hover{
  cursor: pointer;
}
.glow{
  color: #ffe400;
}
.navbar {
  height: 13vh;
  background-color: #272727;
  position: sticky;
  top: 0;
  padding-left: 20vh;
  padding-right: 20vh;
  display: flex;
 
  box-shadow: 10px 10px 4px #4a4a4a;
  align-items: center;
  justify-content: space-between;
}
.navbarBrand {
  width: fit-content;
  color: #14a76c;
  font-family: "Protest Revolution", sans-serif;
  font-size: 6vh;
  text-shadow: 3px 3px 1px black;
}
.navItems {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
 font-size: 2.6vh;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  color: #ff652f;
}
.navItems p {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #272727;
    text-shadow: 1px 1px 1px black;
}
.navItems p:hover{
    cursor: pointer;
    border-bottom: 2px solid #ff652f;
}
.yellowtext {
  color: #ffe400;
}
