.crossnavbarham{
  font-size: xx-large ;
  margin-right: 2vh;
  color: var(--tertiary);
}
.crossnavbarham :hover{
  cursor: pointer;
}

.green-col{
  color: #046A38 ;
}
.glow {
  color: var(--tertiary);
}
.hamburgerline1,.hamburgerline2,.hamburgerline3{
  width: 80%;
  border: 1px solid var(--tertiary);
  margin: 0;
}
.icon-md {
  font-size: 3.5vh;
}
.location {
  display: flex;
  gap: 1vh;
  width: fit-content;
  /* position: relative; */
}
.location-suggest {
  padding-top: 1vh;
  width: 150%;
  background-color: var(--primary);
  
  max-height: 50vh;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 10px;
  overflow-y: auto;
}
.location-suggest p {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 2vh;
  height: 5vh;
  border-bottom: 1px solid var(--grayShade);
}
.location-suggest p:hover {
  background-color: var(--whiteShade);
}
.nav-inp {
  height: 3.5vh;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding-left: 1vh;
  min-width: 12vh;
}
.locationAndSearch {
  
  display: flex;
  gap: 2vh;
  align-items: center;
  
  width: fit-content;
}
.loginbtn {
  font-size: 14px;
  height: 4vh;
  width: 8vh;
}

.navbar {
  height: 13vh;
  background-color: var(--primary);
  position: sticky;
  top: 0;
  padding-left: 18vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  box-shadow: 4px 4px 4px gray;
  border-bottom: 1px solid var(--secondary);
 
}
/* .navScroll{
} */

.navbarBrand{
  font-family: var(--fontsecondary);
  font-size: xx-large;
  font-weight: 500;
}
.Navhamburger{
  height: 5.5vh;
  width: 5.5vh;
  margin-right: 1vh;
  border-radius: 100%;
  padding: 0.5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3px solid var(--tertiary);
  display: none;
}
.Navhamburger:hover{
  cursor: pointer;
}
.navItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  font-size: 2.4vh;
  font-weight: 100;
  font-family: var(--fontsecondary);
  color: var(--secondary);
}
.Navitem {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid var(--primary);
}
.navItems p:hover {
  cursor: pointer;
  border-bottom-color: var(--secondary);
}

.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}


.yellowtext {
  color: var(--tertiary);
  text-shadow: 1px 1px 1px var(--secondary);
}
@media screen and (max-width: 1249px) {
  .navbar {
    padding-left: 0;
  }
}
@media screen and (max-width: 1090px) {
  .locationAndSearch {
    flex-direction: column;
}
}
@media screen and (max-width: 769px) {
  .loginbtn {
    font-size: 10px;
  }
  .navbarBrand {
   
    font-size: x-large;
   
}
}
@media screen and (max-width: 667px) {
  .navItems{
    display: none;
  }
  .Navhamburger{
    display: flex;
  }
}
@media screen and (max-width: 517px) {
  .navbarBrand{
    display: none;
  }
}
