.bussinessPagesection1{
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
}
.BusinesspecPage{
    margin-left: 18vh;
    margin-right: 18vh;
}

.ImagesSection{
    display: flex;
    gap: 1px;
    justify-content: space-between;
}

.carousel-root{
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    width: 60vh;
}
.carousel img{
    height: 40vh;
}

.bussinessPagesection2{
    display: flex;
    gap: 2vh;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.bussinessPageTiming{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0 2vh 2vh;
    width: 100%;
}
.bussinessPageTiming h2{
    font-family: var(--fontNew1);
    font-weight: 500;
    
}
.bussinessPageTiming p{
    flex-direction: row-reverse;
}

.bussinessPageAddress{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0 2vh 2vh;
    width: 100%;
}
.bussinessPageAddress h2,.bussinessPagesection3 h2{
    font-family: var(--fontNew1);
    font-weight: 500;
    
}
.bussinessPagesection3{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0 2vh 2vh;

}

.reviewHead{
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    font-family: var(--fontNew1);
}

.reviewHead span{
    background-color: var(--indiaGreen);
    height: 6vh;
    width: 6vh;
    border-radius: 10px;
    color: white;
    font-family: var(--fontNew1);
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.reviewHead h3{
    margin: 1vh 2vh;
}
.reviewHead p{
    margin: 1vh 2vh;
}


@media screen and (max-width: 1025px) {
    .BusinesspecPage{
        margin:0;
    }
   
  }
@media screen and (max-width: 550px) {
    .bussinessPagesection2{
        flex-direction: column;
        align-items: center;
    }
    .bussinessPageTiming,.bussinessPageAddress{
        width: 90%;
    }
   .imageSectionimg{
    display: none;
   }
   .ImageSectioncarousel{
    margin: auto;
   }
  }