.userlistSpecificPage{
    padding: 0 20vh 20vh 20vh;
}
.userspecifcDetailHead{
    font-family: var(--fontMain);
    font-weight: 500;
    color: var(--tertiary);
    text-align: center;
}
.UserSpecificCard{
    /* height: 60vh; */
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    border: 1px solid black;
}
.UserSpecificDetails{
    margin-bottom: 4vh;
    display:  flex;

    justify-content: space-between;
}
.UserSpecificDetails p {
    width: 30%;
    text-align: center;
}
.UserspecificdetailsBtnCont{
    width: 80%;
    margin: auto;
    margin-top: 4vh;
}
.AdminEditUsersBtn{
    height: 6vh;
    width: 17vh;
    background-color: var(--tertiary);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
    margin-right: 10vh;
}
.adminDeluserBtn{
    height: 6vh;
    width: 17vh;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
    margin-right: 10vh;
}
.adminDeluserBtn:hover,.AdminEditUsersBtn:hover{
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.3s ease;
}