.MyBusineesCont{
    border: 1px solid var(--grayShade);
    box-sizing: border-box;

    border-radius: 20px;
    overflow: hidden;
    
}

.BusinessDasboard{
    padding: 2vh 4vh;
}
.businessDashboardHead{
    font-family: var(--fontNew1);
    color: rgba(0, 0, 0, 0.668);
}
@media screen and (max-width: 1091px) {
    .BusinessDasboard{
        padding: 1vh;
    }
    .MyBusineesCont{
        width: 95%;
    }
}
