.BannerCarousel{
  /* width: 60% !important; */
  height: 40vh;
  border-radius: 10px;
  overflow: hidden;
  scale: 1;
}
/* .BigSize img{
  scale: 1.1;
} */
.SmallSize{
  width: 35% !important;
}

.midSize{
  width: 90vh !important;
  height: 55vh !important;
}
.midSize img{
  width: 90vh !important;
  height: 55vh !important;
}

.BigSize{
  width: 100% !important;
}

.discountBanner{
  width: 35vh;
  height: 35vh;
}

body {
  margin: 0;
  padding: 0;
  caret-color: transparent;
}
.btn-lg {
  height: 8vh;
  width: 30vh;
}
.btnPrim {
  background-color: var(--secondary);
  color: var(--primary);
  font-size: x-large;
  font-family: var(--fontsecondary);
  font-weight: 100;
  border-radius: 10px;
  transition: 0.3s ease;
}

.btnPrim:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.btn-sec {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: x-large;
  font-family: var(--fontsecondary);
  transition: 0.3s ease;
  border-radius: 10px;
}
.btn-sec:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.categoriesContainer {
  display: flex;
  gap: 5vh;
  flex-wrap: wrap;
  justify-content: space-between;
}
.colorGreen {
  color: var(--primary);
  text-shadow: 3px 3px 1px var(--tertiary);
}

.homebanners {
  background-color: var(--primary);
  background: radial-gradient(var(--tertiary), var(--primary));
  height: 87vh;
  position: sticky;
  display: flex;
  gap: 8vh;
  top: 13vh;
  padding: 0 18vh;
}
.homeBannerBtnCont {
  display: flex;
  gap: 4vh;
  margin-top: 6vh;
}
.homebanleft {
  width: 60%;

  /* height: 100%; */
  /* padding-left: 22vh; */
  padding-top: 5vh;
  padding-right: 5vh;
  /* box-sizing: border-box; */
}

.homebanleft h1 {
  width: 90%;
  font-size: 6vh;
  font-family: var(--fontMain);
  color: var(--primary);
  text-shadow: 3px 3px 1px var(--tertiary);
}
.homebanleft h2 {
  width: 90%;
  font-size: 3vh;
  font-family: var(--fontsecondary);
  color: var(--secondary);
  font-weight: 100;
}
.homebannerRight {
  width: 40%;
  height: 100%;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}
.HomePageSrch {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.longbanner{

}
.longbanner img{
  width: -webkit-fill-available;
}
.longbanner:hover img{
  transform: scale(1.01);
  transition: transform 0.6s;
  cursor: pointer;
}
.mainLogo {
  height: 18vh;
  width: 25vh;
}
.mainLogo:hover{
  cursor: pointer;
}
.mainLogo1 {
  height: 18vh;
  width: 30vh;
  background: linear-gradient(to left, var(--tertiary), #ffff);
}
.mainLogo3 {
  height: 18vh;
  width: 30vh;
  background: linear-gradient(to right, var(--indiaGreen), #ffff);
}
.mainLogoCont {
  display: flex;
  justify-content: center;
  gap: 3vh;
}

.MostBookedServiceCardCont{
  display: flex;
  justify-content: space-between;
}

.MostBookedServiceCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vh;
  height: 40vh;
}
.MostBookedServiceCard img{
}

.MostBookedServiceCard h3{
  text-align: center;
}

.Phone {
  height: 90%;
  width: 55%;
  /* margin: auto; */
}
.phone_animate {
  height: 40%;
  width: 43%;

  position: absolute;

  left: 0;
  animation: translateRight 3s infinite alternate;
}


.popularCategories{
  width: 130vh;
  border-radius: 2vh;
  padding: 2vh 3vh 4vh;
  border: 1px solid lightgray;
}
.popularSubCategories{
  width: 100vh;
  border-radius: 2vh;
  padding: 2vh 3vh 4vh;
  border: 1px solid lightgray;
}
.popularCategories:hover{
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.4s ease;
}
.popularSubCategories:hover{
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.4s ease;
}
.popularCategoriesContainer{
  display: flex;
  gap: 3vh;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popularSubCategoriesCont{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vh;
  cursor: pointer;
}
.popularSubCategoriesCard{
  width: 20vh;
  height: 15vh;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.popularSubCategoriesCard img{
  height: 100%;
} 
.popularSubCategoriesCard:hover img {
  transform: scale(1.05);
  transition: transform 0.6s;
}
.popularSubCategoriesCard h3{
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  font-weight: 500;
  color: white;
  z-index: 2;
} 


.main-head {
  color: var(--secondary);
  font-family: var(--fontMain);
  font-size: 5.5vh;
  text-shadow: 1px 1px 1px var(--tertiary);
  text-align: center;
}
.carousel-root {
  outline: none;
  position: absolute;
  z-index: 5;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 62%;
  height: 40%;
}
.popularServices {
  margin-top: 7vh;
}
.PopularServiceCont {
  margin-top: 4vh;
  display: flex;
  gap: 8.4vh;
  padding: 3vh;
}
.PopularserviceHead {
  margin-bottom: 0;
}

.section1 {
  position: relative;
  background-color: var(--primary);
  padding-left: 18vh;
  padding-right: 18vh;

  z-index: 1;
  padding-top: 3vh;
}
.section11{
  margin-top: 4vh;
}
.section12 {
  margin-top: 12vh;
  /* border: 1px solid black;
  height: 30vh; */
}
.section2 {
  margin: 6vh 0;
}
.section3{
  margin: 4vh 0;
  display: flex;
  justify-content: space-between;
  gap: 3vh;
}
@keyframes translateRight {
  0% {
    left: 0;
  }
  100% {
    left: 10vh;
  }
}

@media screen and (max-width: 1501px) {
  .Phone {
    height: 83%;
    width: 72%;
  }
  .homebanleft h1 {
    font-size: 4.7vh;
  }
  .btn-lg {
    height: 8vh;
    width: 29vh;
  }
  .phone_animate {
    width: 57%;
  }

  .section3 {
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 1249px) {
  .homebanners {
    padding: 0 4vh;
  }
  .homebanleft h1 {
    font-size: 4.7vh;
  }
}
@media screen and (max-width: 1091px) {
  .section1 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 769px) {
  .section12 {
    gap: 3vh;
  }
  .btnPrim {
    border-radius: 5px
  }
}
@media screen and (max-width: 376px) {
  .categoriesContainer {

    gap: 1vh;

    justify-content: center;
}
}
