.enquiryContainer{
    border-bottom: 1px solid black;
}
.EnquiryCardCont{
    margin-top: 4vh;
    /* margin-bottom: 10vh; */
    display: flex;
    gap: 10vh;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    /* border: 1px solid red; */
}