.termsAndServicesMainDivContainer{
    margin: 2% 17%;
    border-left: 2px solid black;
    padding-left: 2%;
}
.termsAndServicesMainHeading{
    font-size: 7vh;
    text-align: center;
    font-weight: 600;

}
.termsAndServicesMainSubHeading{
    font-size: 4vh;
   margin:4% 0;
}
.termsAndServicesUpdateHeading{
    font-size: 3vh;
    font-weight: 600;
}
.termsAndServicesSecondHeading{
font-size: 3vh;
margin: 4% 0;
}
.termsAndServicesListsHead{

}
.termsAndServicesLists{
    padding-top: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.termsAndServicesBoldWords{
    padding-right: 1%;
}