.subCategoryCard{
    width: 33%;
    padding: 1.5vh 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subCategoryCard:hover .subcategoryLabel{
    cursor: pointer;
    transform: scale(1.04);
    transition: 0.3s ease;
    color: rgb(74, 74, 255);
}
.SubcategoryImg{
    height: 4vh;
    margin: 0 2vh;
}
.subcategoryLabel{
    color: rgba(0, 0, 0, 0.692);
    font-family: var(--fontsecondary);
    font-size: 2.5vh;
    margin: 0;
}