.hiringFirstDivContainer{
    display: flex;
    
}
.hiringFirstDivContainer-firstBox{
    font-family: Arial, Helvetica, sans-serif;
    padding: 8% 5%;
    /* width: 40%; */
}
.hiringFirstDivContainer-secondBox{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hiringFistBox-firstHeading{
    font-size: 9vh;
    display: flex;
}
.hiringFistBox-secondHeading{
    font-size: 9vh;
    font-weight: 700;
    
}
.hiringFistBox-thirdHeading{
    font-size: 3vh;
    padding: 2%;
}

.hiringImage{
    height: 70vh;
    width: 90vh;
    
    box-shadow: 0 4px 4px 2px rgba(240, 240, 240, 0.566), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.hiringForm{
    background-color:rgb(146, 219, 146);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: column;
    height: 30vh;

}
.hiringInputField{
    height: 5vh;
    width: 40vh;
    margin: 4px;
    border-radius: 4px;
    padding: 0 1%;
    border-color: none;
    font-size: 16px;
    
}
.submitButton{
    width: 15vh;
    text-align: center;
    transition: all 0.3s ease;
}
.submitButton:hover{
    background-color: rgb(56, 56, 236);
    cursor: pointer;

}


@media screen and (max-width: 1000px) {
    .hiringFistBox-firstHeading {
        font-size: 6vh;
        display: flex;
    }
    .hiringFistBox-secondHeading {
        font-size: 7vh;
        font-weight: 700;
    }
    .hiringInputField {
        height: 5vh;
        width: 40vh;
        margin: 4px;
        border-radius: 4px;
        padding: 0 1%;
        border-color: none;
        font-size: 16px;
    }
    .hiringImage{
        height: 54%vh;
        width: 95%;
        
        box-shadow: 0 4px 4px 2px rgba(240, 240, 240, 0.566), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    
    .hiringFirstDivContainer {
        flex-direction: row; /* Change back to row layout for larger screens */
    }

    .hiringFirstDivContainer-firstBox {
        width: 40%; /* Set width for first box on larger screens */
    }

    .hiringFirstDivContainer-secondBox {
        width: 60%; /* Set width for second box on larger screens */
    }

    .hiringImage {
        margin-top: 0; /* Remove margin for larger screens */
    }
}

@media screen and (max-width: 767px) {
    .hiringFirstDivContainer {
        flex-direction: column-reverse; /* Reverse column layout for mobile screens */
    }
    .hiringFistBox-firstHeading{
        font-size: 5vh;
        display: flex;
    }
    .hiringFistBox-secondHeading{
        font-size: 5vh;
        font-weight: 700;   
    }
    .hiringFistBox-thirdHeading{
        font-size: 2vh;
        /* padding: 2%; */
    }
    .hiringImage{
        height: 50%;
        width: 100%;
        
        box-shadow: 0 4px 4px 2px rgba(240, 240, 240, 0.566), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .hiringFirstDivContainer-firstBox {
        width: 88%; /* Take full width on mobile screens */
        margin: 0 1%;
    }
    .hiringFirstDivContainer-secondBox{
        width: 100%;
    }
    .hiringInputField{
        height: 13%;
        width: 79%;
        margin: 3px;
        border-radius: 4px;
        padding: 0 1%;
        border-color: none;
        font-size: 14px;
        
    }
}