:root {
    --primary: #ffffff;
    --secondary:#000000;
    --tertiary: #512bd0;
    --whiteShade:#F5F5F5;
    --grayShade:#dad9d9;
    --fontMain:Inter,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    --fontsecondary: "Raleway", sans-serif;
}

