.BillIcon{
    width: 14vh;
    height: 19vh;
    cursor: pointer;
}
.billIconImg{
    padding: 1vh;
    box-sizing: border-box;
    border: 1px solid var(--grayShade);
    width: 100%;
    height: 70%;
    border-radius: 10px;
}
.billIconTitle{
    margin: 1vh;
    width: fit-content;
    margin: auto;
    font-family: var(--fontsecondary);
    
}
@media screen and (max-width: 1502px) {
    .BillIcon {
        width: 12vh;
        height: 17vh;
    }
  }
@media screen and (max-width: 667px) {
    .BillIcon {
        width: 9vh;
        height: 13vh;
    }
    .billIconTitle {
        font-size: small;
    }
  }
    @media screen and (max-width: 376px) {
        .billIconTitle {
            font-size: 9px;
        }
        .BillIcon {
            width: 7vh;
            height: 11vh;
        }
    }