.billCont{
    display: flex;
    padding: 2vh 2vh 0vh 5vh;
    box-sizing: border-box;
    height: 30vh;
  
}

.billLeftcont{
    display: flex;
   gap: 0vh;
    flex-direction: column;
    width: 25%;
}
.billRightcont{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}
.billLeftHead{
    font-family: var(--fontMain);
    font-size: 3.7vh;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 6vh;
}
@media screen and (max-width: 769px) {
    .billLeftcont p{
        font-size: small;
    }
  }
@media screen and (max-width: 667px) {
    .billCont{
        display: block;
        height: 23vh;
        padding: 1vh 0vh 2vh 0vh;
    }
    .billLeftcont p{
        display: none;
    }
    .billLeftcont{
        width: 100%;
    }
    .billLeftHead{
        margin: 1vh 0 2vh 2vh;
    }
    .billRightcont{
        width: 100%;
    }
  }