.CategoryImg{
    border: 1px solid var(--secondary);
    border-radius: 10px;
    height: 10vh;
    width: 10vh;
}
.CategoryName{
    text-align: center;
    margin: 0;
    font-family: var(--fontsecondary);
    margin-top: 1vh;
}