.CategoryCard{
    margin: 0 2vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 10vh;
}

.CategoryImg{
    border: 1px solid var(--grayShade);
    border-radius: 10px;
    height: 10vh;
    width: 10vh;
    padding: 1vh;
    box-sizing: border-box;

}
.CategoryName{
    text-align: center;
    margin: 0;
    font-family: var(--fontsecondary);
    margin-top: 1vh;
}
@media screen and (max-width: 517px) {
    .CategoryImg {
        height: 9vh;
        width: 9vh;
        
    }
    .CategoryName{
        font-size: 10px;
        width: fit-content;
        margin: auto;
    }
  }
