.btn-sm{
    font-size: 15px;
    height: 4vh;
    width: 10vh;
}
.right-item{
    position: absolute;
    right: 3vh;
    bottom: 3vh;
}
.fitImage{
    height: 100%;
    width: 100%;
}

.popularService{
    height: 40vh;
    width: 33vh;
    border: 1px solid var(--grayShade);
    border-radius: 30px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
.PopularServiceImg{
    height: 65%;
    width: 100%;
    
}
.PopularserviceDesc{
    background-color: var(--whiteShade);
    height: 35%;
    width: 100%;
    padding-top: 2vh;
}
.PopularserviceDesc p{
    width: 50%;
    background-color: var(--tertiary);
    color: var(--primary);
    margin: 0;
    padding-top: 4px;
    box-sizing: border-box;
    height: 3.5vh;
    font-family: var(--fontsecondary);
    text-align: center;
}
@media screen and (max-width: 1502px) {
    .popularService {
        height: 38vh;
        width: 30vh;
    }
  }
@media screen and (max-width: 769px) {
    .btn-sm {
        font-size: 12px;
        
    }
    .popularService {
     
        width: 28vh;
    }
  }
@media screen and (max-width: 667px) {
    
    .popularService {
     
        width: 25vh;
        height: 34vh;
    }
    .right-item {
        right: 1vh;
        bottom: 2vh;
    }
  }
@media screen and (max-width: 426px) {
    
    .popularService {
     
        width: 23vh;
        height: 32vh;
    }
    .right-item {
        
        bottom: 1vh;
    }
    .btn-sm {
        font-size: 10px;
        height: 3.5vh;
        width: 10vh;
    }
    .PopularserviceDesc p {
       
        padding-top: 1px;
        font-size: small;
    }
  }