.ContactContainer{
    display: flex;
    font-family: var(--fontMain);
}

.ContactNo{
    /* background-color: #0076d7; */
    background-color: var(--indiaGreen);
    color: white;
}

.Enquiry{
    background-color: var(--tertiary);
    color: white;
    margin-left: 2vh ;
}

.Chat{
    background-color: white;
    border: 1px solid gray;
    margin-left: 2vh ;
}
@media screen and (max-width: 668px) {
 .ContactNo{
    font-size: small;
 }
 .Enquiry{
    font-size: small;
 }
   
  }
@media screen and (max-width: 428px) {

 .Enquiry,.ContactNo{
    font-size: 10px;
 }
   
  }
@media screen and (max-width: 322px) {

 .Enquiry{
    font-size: 8px;
 }
   
  }