.HelpAndSupport{
    height: 8vh;
    width: 8vh;
    /* border: 1px solid black; */
    position: fixed;
    z-index: 30;
    bottom: 3vh;
    background-color: var(--grayShade);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 3vh;
}
.supportIcon:hover{
    cursor: pointer;
}
.supportIcon{
    font-size: 6vh;
}
